<section id='devise-con'>
<h1 class='r-app'>Recipe App</h1>
<div class='edit'>
<div class='edit-user'>
<%= link_to new_user_registration_url do %>
  <p>&#8592; back </p>
<% end %>
</div>
<div class='edit-user'>
<h2>Resend confirmation instructions</h2>
</div>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: 'add-button' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</section>