<div class="new-recipe-form">
  <h3>Wecome <%=current_user.name%>, you can add a new recipe!</h3>
  <h1>New Recipe</h1>

  <%= form_with(model: @recipe, url: recipes_path) do |form| %>

  <%= form.text_field :name, placeholder: 'Name', class: 'form-inp'%>

  <%= form.number_field :cook_time, placeholder: 'Cooking time(In Minutes)', class: 'form-inp', min: '0' %>

  <%= form.number_field :prep_time, placeholder: 'Preparation time(In Minutes)', class: 'form-inp', min:'0'%>

  <%= form.text_area :description, placeholder: 'Description'%>

  <div class="check">
    <%= form.check_box :public, id:"public-tick" %>
    <label for="public-tick">Public</label>
  </div>
  <br>


  <%= form.submit :submit , class: "action-btn" %>


  <% end %>
</div>