<div id="category-container">
  <% @categories.includes(:recipes).each do |category| %>
  <h1><%= category.name %></h1>
  <%= image_tag url_for(category.image_url), :class => "cat-img" %>
  <p><%= category.description %></p>
  <section class="recipe">
    <%category.recipes.each do |recipe|%>
      <div class="recipe-div">
        <div class="recipe-cont">
          <%= image_tag url_for(recipe.img), :class => "rep-img" %>
          <div class="name-remove">
          <%= link_to "#{recipe.name}", recipe_path(recipe)%>
          <p><%=recipe.description %></p>
          <div class="recipe-prep-time">
          <p><%=recipe.prep_time %></p>
          <p><%= recipe.cook_time %></p>
          </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>
  <% end %>
</div>