<%= render 'layouts/header' %>
<section class="recipe">

  <% @recipes.each do |recipe|%>
    <div class="recipe-div">
      <div class="recipe-cont">

        <div class="name-remove">
        <%= link_to "#{recipe.name}", recipe_path(recipe)%>
        <p>By: <%=recipe.user.name%></p>

        </div>
        <div>
        <p> Total Food Items: <%= recipe.description %></p>
        <p>Total Price: <%= recipe.description %></p>
        </div>
        
      </div>

    </div>
  <% end %>
</section>