<section class="recipe-show">
  <h1><%= @recipe.name %></h1>

  <div class="recipe-details">

    <p>Preparation time: <%=@recipe.prep_time%> Minutes</p>

    <p>Cooking time: <%=@recipe.cook_time%> Minutes</p>

    <p class=""><%=@recipe.description%></p>

  <% if can? :update, @recipe%>
    <div class="status">
      <%= form_with url: update_path(@recipe), method: "put" do |form| %>
        <div>
          <% if @recipe.public == false %>
            <%= form.check_box :public, class:"", id:"", onchange: "this.form.submit();"%>
            <label class="" for="">Public</label>
            <% else %>
            <%= form.check_box :public, class:"", id:"", checked: true, onchange: "this.form.submit();" %>
            <label class="" for="">Public</label>
          <%end%>
        </div>
      <%end%>
    </div>
  <%end%>

  </div>


  <div class="show-btns">

    <button class="btn">Generate Shopping List</button>
    <button class="btn">Add Ingredients</button>

  </div>
  
</section><hr>
