<section class="recipe-show">
  <h1><%= @recipe.name %></h1>

  <div class="recipe-details">

    <p>Preparation time: <%=@recipe.prep_time%> Minutes</p>

    <p>Cooking time: <%=@recipe.cook_time%> Minutes</p>

    <p class=""><%=@recipe.description%></p>

  <% if can? :update, @recipe%>
    <div class="status">
      <%= form_with url: update_path(@recipe), method: "put" do |form| %>
        <div>
          <% if @recipe.public == false %>
            <%= form.check_box :public, class:"", id:"", onchange: "this.form.submit();"%>
            <label class="" for="">Public</label>
            <% else %>
            <%= form.check_box :public, class:"", id:"", checked: true, onchange: "this.form.submit();" %>
            <label class="" for="">Public</label>
          <%end%>
        </div>
      <%end%>
    </div>
  <%end%>

  </div>


  <div class="show-btns">


      <%= link_to 'Generate Shopping List',  recipe_shopping_lists_path(@recipe), class: 'add-button' %>
    <% if can? :update, @recipe%>
      <%= link_to 'Add ingredient', new_recipe_recipe_food_path(@recipe), class: 'add-button' %>
    
    <%end%>


  </div>
  
</section>

<hr>

<%= render 'recipe_foods/recipe_food' %>