<section class="recipe-show">
  <h1><%= @recipe.name %></h1>

  <div class="recipe-details">

    <p>Preparation time: <%=@recipe.prep_time%> Minutes</p>

    <p>Cooking time: <%=@recipe.cook_time%> Minutes</p>

    <p class=""><%=@recipe.description%></p>

    <% if can? :update, @recipe%>
    <div class="status">
      <%= form_with url: update_path(@recipe), method: "put" do |form| %>
      <div class="form-check form-switch">
        <% if @recipe.public == false %>
        <%= form.check_box :public, class:"form-check-input", id:"flexSwitchCheckDefault",role: "switch", onchange: "this.form.submit();"%>
        <label class="form-check-label" for="flexSwitchCheckDefault">Public</label>
        <% else %>
        <%= form.check_box :public, class:"form-check-input", id:"flexSwitchCheckChecked",role: "switch", checked: true, onchange: "this.form.submit();" %>
        <label class="form-check-label" for="flexSwitchCheckChecked">Public</label>
        <%end%>

      </div>
      <%end%>
    </div>
    <%end%>

  </div>

  <% @recipe.instructions.each_with_index do |instruction, index| %>
  <div class="instruction">
    <p class="instruction-number"><%= index + 1 %></p>
    <p class="instruction-text"><%= instruction %></p>
  </div>
  <% end %>

  <div class="show-btns">


    <%= link_to 'Generate Shopping List',  recipe_shopping_lists_path(@recipe), class: 'add-button' %>
    <% if can? :update, @recipe%>

    <%= link_to 'Add ingredient', new_recipe_recipe_food_path(@recipe), class: 'add-button' %>

    <%end %>

  </div>

</section>

<hr>

<%= render 'recipe_foods/recipe_food' %>