<section class='app-con'>
  <div class='food-con'>
    <%= link_to 'Add Food', new_user_food_url(current_user.id), class: "add-button" %>
    <table>
      <tr>
        <th>Food</th>
        <th>Measurement unit</th>
        <th>Unit price</th>
        <th>Actions</th>
      </tr>
      <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.unit %></td>
        <td>$<%= food.price %></td>
        <td>
        <%if can? :destroy, food%>
        <%= button_to 'Delete', user_food_path(food.user_id, food.id), :method => :delete, class: 'delete' %>
        <%end%>
        
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</section>