<div id="shop-con">
<section class='app-con'>
    <div class="d-">
      <p>Total food items: <strong><%= @total_quantity %></strong> </p>
      <p>Total price: <strong>R <%= @total_price  %></strong></p>
    </div>

    <table id="ingr-tbl">
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
      <% @recipe_foods.each do |rf| %>
      <tr>
        <td><%= rf.food.name %></td>
        <td><%= rf.quantity %></td>
        <td>$<%= rf.food.price * rf.quantity %></td>
      </tr>
      <% end %>
    </table>
</section>
<div class="wrap">
<%= image_tag url_for('diet.png'), :class => "svg", :style => "height: 300px" %>
<%= image_tag url_for('diet2.png'), :class => "svg", :style => "height: 200px" %>
<%= image_tag url_for('food.png'), :class => "svg", :style => "height: 300px" %>
<%= image_tag url_for('salad.png'), :class => "svg", :style => "height: 200px" %>
<%= image_tag url_for('hot-pot.png'), :class => "svg", :style => "height: 100px" %>
<%= image_tag url_for('dish.png'), :class => "svg", :style => "height: 100px" %>
<%= image_tag url_for('hot.png'), :class => "svg", :style => "height: 100px" %>
<%= image_tag url_for('healthy-eating.png'), :class => "svg", :style => "height: 100px" %>
<%= image_tag url_for('food2.png'), :class => "svg", :style => "height: 100px" %>
<%= image_tag url_for('restaurant-cutlery-circular-symbol-of-a-spoon-and-a-fork-in-a-circle.png'), :class => "svg", :style => "height: 100px" %>
</div>
</div>