<section class='app-con'>
  <h2>Ingredients</h2>

  <div class="show-btns">
    <%= link_to 'Generate Shopping List',  recipe_catogory_recipe_shopping_lists_path(@recipe, recipe_id: @recipe.id), class: 'add-button' %>
    <% if can? :update, @recipe%>

    <%= link_to 'Add ingredient', new_recipe_catogory_recipe_recipe_food_path(@recipe, recipe_id: @recipe.id), class: 'add-button' %>

    <%end %>
  </div>
  <div>
    <table>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
      </tr>
      <% @recipe.recipe_foods.each do |rf| %>
      <tr>
        <td><%= rf.food.name %></td>
        <td><%= rf.quantity %><%= rf.food.unit  %></td>
        <td>R<%= rf.quantity * rf.food.price %></td>
        <td class="action-btns-td">
        <div class='ingr-btns'>
        <%if can? :update, @recipe%>
          <%=link_to "Update", edit_recipe_catogory_recipe_recipe_food_path(recipe_id: @recipe.id, id: rf.id), class:"add-button ingr-btn"%>
      <%end%>
      <%if can? :destroy, @recipe %>
          <%=button_to "Delete", recipe_catogory_recipe_path(recipe_id: @recipe.id, id: rf.id), method: :delete, class:"delete ingr-btn"%>
          <%end%>
          </div>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</section>